# Move this file to /etc/auto/config.toml

hostname = "dev0.nyc1.bns.sh"
site = "nyc1.bns.sh"
tls_path = "/etc/auto/tls"

[api]
host = "0.0.0.0"
port = 3000

[eve]
fingerprint = ""

[storage]
[storage.main]
enabled = true
type = "fs"
path = "/var/lib/auto"
iso = true
disk = true

[network]
[network.br0]
enabled = true
type = "bridge"
