# Move this file to /etc/auto/config.toml

hostname = "dev0.nyc1.bns.sh"
site = "nyc1.bns.sh"
tls_path = "/etc/auto/tls"
remarks = ""

[api]
host = "0.0.0.0"
port = 3000

[libvirt]
host = ""
port = 1234

[eve]
serial = ""

[storage]
[storage.main]
enabled = true
type = "fs"
path = "/var/lib/auto"
iso = true
disk = true
cloud_image = true
remarks = ""

[cloud_init]
enabled = true
type = "fs"
path = "/var/lib/auto-cloudinit"

[network]
[network.br0]
enabled = true
type = "bridge"
remarks = ""
